/* ----- Configurações default ----- */
:root{
    --primary-color: #172C4B;
    --light-color: #FFF;
    --body-color: #F0F0F0;
    --dark-color: #0E1625;
    --box-section-color-light: #F6F4EF;
    --box-section-color-gray: #85848C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

/* ----- Configurações default ----- */

/* ----- Configurações principais ----- */

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border-radius: 24px;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    transition: .4s;
    cursor: pointer;
}

button:hover{
    background-color: var(--dark-color);
    /* color: var(--light-color); */
}

header{
    width: 100%;
    background-color: var(--light-color);
}

main{
    background-color: var(--body-color);
}

section{
    width: 100%;
    display: flex;
}

/* ----- Configurações principais ----- */

/* ----- Configurações cabeçalho BEGIN ----- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.menu-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw; /* talvez mudar o gap de acordo com a tela */
}

.menu-header > li > a{
    color: var(--primary-color);
}

.menu-header > li > a:hover{
    /* color: var(--dark-color); */
    opacity: 0.5;
}

#btn-pedir-agora{
    font-size: 1.2rem;
    padding: 0.8rem 2.8rem;
}

/* ----- Configurações cabeçalho END ----- */

/* ----- Configurações corpo BEGIN ----- */

#home{
    background-color: var(--primary-color);
}

.fees-box{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 90%;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 24px;
    padding: 2vh 2vw; /* VERIFICAR MOBILE */
    margin: 0 auto;
    margin-top: -8vh;  /* VERIFICAR MOBILE */
}

.fees-box > h3 {
    font-weight: bold;
    margin-bottom: 2vh;
}

.fees-box > button{
    margin-top: 2vh;
    padding: 2vh 2vw;
    background-color: var(--light-color);
    color: var(--primary-color);
    font-size: 1.5rem;
    border-radius: 24px;
}

.fees-box > button:hover{
    opacity: 0.6;
}

.benefits-card{
    background-color: var(--light-color);
    box-shadow: 2px 4px 4px #ccc;
    border-radius: 12px;
    padding: 4vh 2vw;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-card > img{
    width: 64px;
}

.title-card{
    font-weight: bold;
    margin: 2vh 0; 
}

.content-card{
    font-weight: 200;
}

/* ----- Configurações corpo END ----- */

/* ----- Configurações rodapé BEGIN ----- */

footer{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

footer > img{
    margin: 4vh 0 0 8vw;
}

.footer-credits{
    background-color: var(--dark-color);
    height: 8vh;
    padding-top: 2vh;
    color: var(--light-color);
    text-align: center;
}

/* ----- Configurações rodapé END ----- */

@media screen and (min-device-width: 500px){

    .icon-whatsapp{
        position: fixed;
        bottom: 10px;
        right: 10px;
        width: 80px;
        cursor: pointer;
    }

    h1{
        font-size: 4.2rem;
    }

    h2{
        font-size: 2.4rem;
        font-weight: 200;
        text-align: center;
        margin: 4vh 0;
    }

    h3{
        font-size: 2rem;
        font-weight: 200;
    }

    p{
        font-size: 1.4rem;
    }

    section{
        justify-content: center;
    }

    .btn-toHire{
        padding: 1.6vh 2.4vw;
        font-size: 1.2rem;
        margin-top: 4vh;
    }

    #home{
        gap: 16vw;
    }

    #home > div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100vh;
        gap: 1vh;
        color: var(--light-color);
    }  

    #home button{
        background-color: var(--light-color);
        color: var(--primary-color);
    }

    #home button:hover{
        background-color: var(--dark-color);
        color: var(--light-color);
    }

    #home > div > img{
        width: max(32vw, 200px);
        filter: drop-shadow(12px 12px 0px var(--dark-color));
    }

    #product{
        padding: 4vh 8vw;
        gap: 4vw;   
    }

    #product > div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #product > div > h2 {
        text-align: left;
    }

    #product > div > p{
        margin-bottom: 2vh;
    }

    .text-product {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .check-product{
        font-size: 1rem;
        font-weight: 200;
    }

    #product > div > img{
        width: max(28vw, 160px);
        margin-left: 8vw;
    }

    #product > div > button,
    .simulator-result > button{
        width: 200px;
        background-color: var(--primary-color);
        color: var(--light-color);
    }

    #product > div > button:hover,
    .simulator-result > button:hover{
        background-color: var(--dark-color);
    }

    #benefits{
        flex-direction: column;
        align-items: center;
        margin: 4vh 0;
    }

    #simulator{
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-color);
        padding: 4vh 0;
    }

    #simulator > h2{
        color: var(--light-color);
    }

    .simulator-box{
        background-color: var(--box-section-color-light);
        width: 90%;
        border-radius: 8px;
        display: flex;
        padding: 4vh 4vw;
    }

    .simulator-box > div{
        width: 50%;
    }

    .simulator-fees div{
        display: flex;
    }

    .simulator-fees label{
        color: var(--box-section-color-gray);
        font-size: 1.2rem;
        margin: 2vh 0 1vh 0;
    }

    .simulator-fees div input,
    .simulator-fees div select{     
        height: 6vh;
        border-radius: 4px;
        border: 1px solid var(--box-section-color-gray);
        padding-left: 1vw;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .sales-input{
        flex-direction: column;
        width: 70%;
    }

    .fees-input {
        justify-content: space-between;
        width: 70%;
        gap: 2vw;
    }

    .fees-input > div{
        flex-direction: column;   
        width: 50%;  
    }

    .result-text-value{
        margin: 2vh 0;
        color: var(--primary-color);
        font-weight: bold;
        font-size: 3rem;
    }

    .result-comparative > p{
        font-size: 1rem;
    }

    .result-comparative > p > span{
        font-weight: bold;
    }

    #saving-result{
        background-color: var(--primary-color);
        color: var(--light-color);
        padding: 0.5vh 0.5vw;
        border-radius: 12px;
    }

    .benefits-box{
        display: flex;
        flex-wrap: wrap;
        gap: 2vw;
        width: 90%;
    }

    .benefits-card > p:first-child{
        font-size: 1.2rem;
    }

    .benefits-card > p:last-child{
        font-size: 1.2rem;
    }

    #faq{
        flex-direction: column;
    }

    .accordion{
        width: max(60vw, 300px);
        margin: 0 auto;
    }

    .accordion-item{
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 1rem;
        overflow: hidden;
    }

    .accordion-header{
        padding: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
        cursor: pointer;
    }

    .accordion-content{
        padding: 0.4rem;
        font-size: .9rem;
        line-height: 1.5;
    }

    .accordion-item--active .accordion-header{
        background-color: #ddd;
    }

    .accordion-item--active .accordion-content{
        max-height: 1000px;
        transition: max-height 0.5s ease-in-out;
    }

    .accordion-item--closed .accordion-content{
        max-height: 0;
        overflow: hidden;
    }
    
    .accordion-content{
        transition: max-height 0.3s ease-out;
    }

    .box-footer{
        display: flex;
        padding: 2vh 8vw;
        justify-content: space-between;
        color: var(--light-color);
    }

    .box-footer > div > ul > li{
        font-size: 1.2rem;
        font-weight: bold;
    }

    .box-footer > div > ul > li > a{
        color: var(--light-color);
        font-size: 1rem;
        font-weight: lighter;
    }
   
}

@media screen and (max-device-width: 500px){

}