/* ----- Configurações default ----- */
:root{
    --primary-color: #172C4B;
    --light-color: #FFF;
    --body-color: #F0F0F0;
    --dark-color: #0E1625;
    --box-section-color-light: #F6F4EF;
    --box-section-color-gray: #85848C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html{
    scroll-behavior: smooth;
}

/* ----- Configurações default ----- */

/* ----- Configurações principais ----- */

h2{
    font-size: 2.4rem;
    font-weight: 200;
    text-align: center;
    margin: 4vh 0;
}

h3{
    font-size: 2rem;
    font-weight: 200;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border-radius: 24px;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    transition: .4s;
    cursor: pointer;
}

button:hover{
    background-color: var(--dark-color);
}

header{
    width: 100%;
    background-color: var(--light-color);
}

main{
    background-color: var(--body-color);
}

section{
    width: 100%;
    display: flex;
}

.icon-whatsapp{
    position: fixed;
    cursor: pointer;
    width: 80px;
    animation: fadeInOut 2s infinite;
}

/* ----- Configurações principais ----- */

/* ----- Configurações cabeçalho BEGIN ----- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 2vw;
}

.logo{
    width: 100px;
    cursor: pointer;
}

.menu-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw; /* talvez mudar o gap de acordo com a tela */
}

.menu-header > li > a{
    color: var(--primary-color);
}

.menu-header > li > a:hover{
    opacity: 0.5;
}

#btn-pedir-agora{ 
    font-size: 1.2rem; /* AJUSTAR TAMANHO EM DIFERENTES FORMATOS */
    padding: 0.8rem 2.8rem;
}

/* ----- Configurações cabeçalho END ----- */

/* ----- Configurações corpo BEGIN ----- */

#home{
    background-color: var(--primary-color);
    color: var(--light-color);
}

#home > div > h1,
#home > div > p,
#home > div > button{
    animation: fromLeft .7s .3s backwards;
}

#home > div > img{
    filter: drop-shadow(12px 12px 0px var(--dark-color));
    animation: fromRight .7s .3s backwards, tiltAnimation 2s infinite;;
}

.fees-box{
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 90%;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 24px;
    margin: 0 auto;
    gap: 2vh;
}

.fees-box > h3 {
    font-weight: bold;
}

.fees-box > button{
    padding: 2vh 2vw;
    background-color: var(--light-color);
    color: var(--primary-color);
    border-radius: 24px;
}

.fees-box > button:hover{
    opacity: 0.6;
}

#product{
    padding: 4vh 8vw;
}

#product > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-product {
    font-size: 1.2rem;
}

#product > div > img{
    margin-left: 8vw;
}

#product > div > button,
.simulator-result > button{
    width: 200px;
    background-color: var(--primary-color);
    color: var(--light-color);
}

#product > div > button:hover,
.simulator-result > button:hover{
    background-color: var(--dark-color);
}

#simulator{
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    padding: 4vh 0;
}

#simulator > h2{
    color: var(--light-color);
}

.simulator-box{
    background-color: var(--box-section-color-light);
    width: 90%;
    border-radius: 8px;
    display: flex;
    padding: 4vh 4vw;
}

.simulator-fees div{
    display: flex;
}

.simulator-fees label{
    color: var(--box-section-color-gray);
    font-size: 1.2rem;
    margin: 2vh 0 1vh 0;
}

.simulator-fees div input,
.simulator-fees div select{     
    height: 6vh;
    border-radius: 4px;
    border: 1px solid var(--box-section-color-gray);
    padding-left: 1vw;
    font-size: 1.2rem;
    cursor: pointer;
}

.result-text-value{
    margin: 2vh 0;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
}

.result-comparative > p{
    font-size: 1rem;
}

.result-comparative > p > span{
    font-weight: bold;
}

#saving-result{
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 12px;
}

#benefits{
    flex-direction: column;
    align-items: center;
    margin: 4vh 0;
}

.benefits-box{
    display: flex;
    width: 90%;
}

.benefits-card{
    background-color: var(--light-color);
    box-shadow: 2px 4px 4px #ccc;
    border-radius: 12px;
    padding: 4vh 2vw;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-card > img{
    width: 64px;
}

.benefits-card > p:first-child{
    font-size: 1.2rem;
}

.benefits-card > p:last-child{
    font-size: 1.2rem;
}

.title-card{
    font-weight: bold;
    margin: 2vh 0; 
}

.content-card{
    font-weight: 200;
}

#faq{
    flex-direction: column;
}

.accordion{
    width: max(60vw, 300px);
    margin: 0 auto;
}

.accordion-item{
    background-color: var(--light-color);
    border: 1px solid var(--box-section-color-light);
    border-radius: 5px;
    margin-bottom: 1rem;
    overflow: hidden;
}

.accordion-header{
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.accordion-content{
    padding: 0.4rem;
    font-size: .9rem;
    line-height: 1.5;
}

.accordion-item--active .accordion-header{
    background-color: var(--box-section-color-gray);
}

.accordion-item--active .accordion-content{
    max-height: 1000px;
    transition: max-height 0.5s ease-in-out;
}

.accordion-item--closed .accordion-content{
    max-height: 0;
    overflow: hidden;
}

.accordion-content{
    transition: max-height 0.3s ease-out;
}

/* ----- Configurações corpo END ----- */

/* ----- Configurações rodapé BEGIN ----- */

footer{
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.initial-footer{
    display: flex;
    /* margin-top: 4vh; */
}

.initial-footer > div > .logo{
    margin: 4vh 0 0 8vw;
}

.initial-footer > div:last-child img{
    width: 28px;
    cursor: pointer;
}

.box-footer{
    display: flex;
    padding: 2vh 8vw;
    justify-content: space-between;
    color: var(--light-color);
}

.box-footer > div > ul > li{
    font-size: 1.2rem;
    font-weight: bold;
}

.box-footer > div > ul > li > a{
    color: var(--light-color);
    font-size: 1rem;
    font-weight: lighter;
}

.footer-credits{
    background-color: var(--dark-color);
    height: 8vh;
    padding-top: 2vh;
    color: var(--light-color);
    text-align: center;
}

/* ----- Configurações rodapé END ----- */

@media screen and (min-device-width: 500px){

    .icon-whatsapp{
        bottom: 10px;
        right: 10px;
    }

    h1{
        font-size: 4.2rem;
    }

    p{
        font-size: 1.4rem;
    }

    section{
        justify-content: center;
    }

    .btn-toHire{
        padding: 1.6vh 2.4vw;
        font-size: 1.2rem;
        margin-top: 4vh;
    }

    .menu-hamburguer{
        display: none;
    }

    #home{
        gap: 16vw;
    }

    #home > div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100vh;
        gap: 1vh;     
    }  

    #home button{
        background-color: var(--light-color);
        color: var(--primary-color);
    }

    #home button:hover{
        background-color: var(--dark-color);
        color: var(--light-color);
    }

    #home > div > img{
        width: max(32vw, 200px);
    }

    .fees-box{
        padding: 2vh 2vw; 
        margin-top: -8vh;  
    }
    
    .fees-box > h3 {
        margin-bottom: 2vh;
    }
    
    .fees-box > button{
        font-size: 1.5rem;
    }

    #product{
        gap: 4vw;   
    }

    #product > div {
        width: 50%;
    }

    #product > div > h2 {
        text-align: left;
    }

    #product > div > p{
        margin-bottom: 2vh;
    }

    .check-product{
        font-size: 1rem;
        font-weight: 200;
    }

    #product > div > img{
        width: max(28vw, 160px);
    }

    .simulator-box > div{
        width: 50%;
    }

    .sales-input{
        flex-direction: column;
        width: 70%;
    }

    .fees-input {
        justify-content: space-between;
        width: 70%;
        gap: 2vw;
    }

    .fees-input > div{
        flex-direction: column;   
        width: 50%;  
    }

    #saving-result{
        padding: 0.5vh 0.5vw;
    }

    .benefits-box{
        flex-wrap: wrap;
        gap: 2vw;
        width: 90%;
    }

   .accordion{
        width: max(60vw, 300px);
    }

    .initial-footer{
        justify-content: space-between;
    }

    .initial-footer > div:last-child{
        margin: 4vh 8vw 0 0;
    }

    .initial-footer > div:last-child img{
        margin-left: 1vw;
    }
   
}

@media screen and (max-device-width: 500px){

    h1{
        font-size: 2.8rem;
    }

    p{
        font-size: 1.2rem;
    }

    .icon-whatsapp{    
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .menu-header{
        display: none;
    }

    .menu-header-open{
        display: flex;
        position: absolute;
        font-size: 1.5rem;
        padding: 4vh;
        z-index: 2;
        top: 70px;
        right: 0;
        background-color: var(--light-color);
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 4vh;
        width: 100%;
        border-radius: 0 0 12px 12px;     
    }

    .menu-header-open button{
        width: 100%;
    }
    

    #home{
        flex-direction: column;
        padding-left: 2vw;
        height: 100vh;
    }

    #home > div:first-child{
        padding-top: 8vh;
    }

    #home > div > p{
        margin-top: 4vh;
    }

    #home > div > button{
        display: none;
    }

    #home > div > img {
        width: 84%;
    }

    .fees-box{
        padding: 4vh 4vw;
        margin-top: -6vh;  
        text-align: center;
        gap: 4vh;
    }
    
    .fees-box > button{
        padding: 2vh 4vw;
        font-size: 1.4rem;
        font-weight: bold;
    }

    #product{
        flex-direction: column;
    }

    #product > div {
        gap: 2vh;
    }

    #product > div > img{
        width: 90%;
    }

    .check-product{
        font-size: 1.2rem;
    }

    #product > div > button,
    .simulator-result > button{
        width: 100%;
        height: 8vh;
        font-size: 1.2rem;
        margin: 4vh 0;
    }

    .simulator-box{
        flex-direction: column;
    }

    .simulator-fees div{
        flex-direction: column;
    }

    .simulator-result{
        padding-top: 6vh;
        text-align: center;
    }

    #saving-result{
        padding: 0.5vh 1.5vw;
    }
    
    .benefits-box{
        flex-direction: column;
        gap: 4vh;
        align-items: center;
    }

    .accordion{
        width: 90%;
    }

    .initial-footer{
        flex-direction: column;
    }

    .initial-footer > div:last-child{
        margin: 4vh 0 2vh 8vw;
    }

    .initial-footer > div:last-child img{
        margin-right: 2vw;
    }

    .box-footer > div > ul > li{
        margin-bottom: 1vh;
    }
}

@keyframes fromLeft{
    from{
        opacity: 0;
        transform: translateX(-30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fromRight{
    from{
        opacity: 0;
        transform: translateX(30px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInOut {
    0% { opacity: 0.7; }
    50% { opacity: 1; }
    100% { opacity: 0.7; }
}

@keyframes tiltAnimation {
    0%, 100% { transform: rotate(0deg); }
    50% { transform: rotate(10deg); }
}